lightning
wandb
ray[all]
mlflow
scikit-learn
opencv-python-headless==4.8.0.74
matplotlib
fastapi
lightgbm
python-multipart
captum
optuna
arfs
pandas
polars
watermark
plotly
ipywidgets
thop
pycuda
pycaret[full]
transformers
datasets
modin
